/*
// Palette 2: Orange, white, black

$header:#EB5E28;
$text:#252422;
$background:#FFFCF2;
$accent1:#CCC5B9;
$accent2:#FF9368;
*/
/*
// Palette 3: Greens
$header:#347000;
$text:#11270B;
$background:#DDE3D8;
$accent1:#9FE04A;
$accent2:#6D8C52;
*/
/*
// Palette 1: Air Force Blue
$header:#19368E;
$text:#232528;
$background:#F3F7F0;
$accent1:#2B3154;
$accent2:#424B54;
*/
/*
// Modern
$header:#1E152A;
$text:#4E6766;
$bg1:#5AB1BB;
$bg2:#A5C882;
$bg3:#F7DD72;
*/
$dark: #050505;
$accent: #1B9AAA;
$bg: #FFFFFF;
$light: #DDDBCB;

html, body {
	color: $dark;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
}

.links {
    background-color: $dark;
	color: $light;
    height: 5vh;
    text-align: center;
    padding: 0.2em 0;
    a {
        font-size: 1.4em;
        padding: 0 10%;
        color: inherit;
        text-decoration: none;
        &:hover {
            color: $accent;
        }
    }
}

.links-state2 {
    position: fixed;
    width: 100%;
    top: 0;
    opacity: 0.75;
}

h1 {
	background-color: $accent;
	color: $bg;
	text-shadow: 1px 1px black;
	padding: 0.5em 0;
    font-weight: normal;
    font-size: 6em;
    line-height: 0.75em;
    text-align: center;
}
h2 {
	color: $dark;
    padding: 1em;
    text-align: center;
}
section {
	padding: 0 15%;
    background-color: $bg;
    min-height: 100vh;
    overflow: hidden;
}

.bigbuttons {
	color: $accent;
	background-color: $bg;
	text-shadow: 1px 1px black;
    float: left;
    width: 50%;
    text-align: center;
    height: 20vh;
    padding-top: 2vh;
    a {
        color: inherit;
        font-size: 3.5em;
		text-decoration: underline;
		&:hover {
			color: $light;
		}
    }
}
#top {
 	background-color: $bg;
	padding: inherit;
    min-height: 95vh;
    height: 95vh;
}
#portfolio {
    background-color: $bg;
	color: $dark;
}
.portfolio-state2 {
    padding-top: 7vh;
}
#resume {
    background-color: $bg;
}

footer {
	background-color: $dark;
	color: $bg;
    text-align: center;
    background-color: black;
    padding: 0.2em 0;
}