$FOOTER_HEIGHT: 12vh;

html, body {
    margin: 0;
    height: 100%;
}
body {
    font-family: 'Source Sans Pro', sans-serif;   margin: 0;
}

nav a {
    text-decoration: none;
    color: inherit;
    &:hover {
        opacity: 0.2;
    }
}

nav, main, footer {
    text-align: center;
    margin: 0;
    border-width: 0;
}

// Navbar
nav {
    height: 20vh;    
    .title {
        font-size: 2rem;
        padding-top: 1.25rem;
    }
    ul {
        padding: 0;
        li {
            display: inline;
            padding: 0 5vw;
            font-size: 1.5rem;

            a {
                border-bottom: 0.25rem solid black;
            }
        }
    }
}
li.active {
    opacity: 0.2;
    a:hover {
        opacity: 1;
    }
}

// Main section
main {
    min-height: 60vh;
    margin-bottom: -$FOOTER_HEIGHT;
}
.main_images a {
    padding: 5rem;
}
.avatar {
    max-width: 15rem;
    border-radius: 50%;
}
.social {
    a {
        opacity: 1;
    }
    img {
        max-width: 7rem;
        border-radius: 50%;
        opacity: 0.2;
        animation: fadeout 0.3s 1;
        &:hover {
            opacity: 1;
            animation: fadein 0.3s 1;
        }
    }
}
h1 {
    font-size: 2.5rem;
}
p.lead {
    font-size: 1.2rem;
}
.resume {
    text-align: left;
    padding: 0 25%;
    section {
        padding: 0 10%;
    }
}
thead td {
    font-weight: bold;
    min-width: 7rem;
    padding-right: 2rem;
}

td.emphasis {
    font-style: italic;
    padding-right: 2rem;
    min-width: 7rem;
}

// Sticky Footer
.push, footer {
    height: $FOOTER_HEIGHT;
}
footer {
    line-height: $FOOTER_HEIGHT;
}

// Animation keyframes
@keyframes fadein {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}