$header:#EB5E28;
$text:#252422;
$background:#FFFCF2;
$accent1:#CCC5B9;
$accent2:#FF9368;

html, body {
	color: $text;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
}

.links {
    height: 5vh;
    text-align: center;
    background-color: $text;
    padding: 0.2em 0;
    
    a {
        font-size: 1.4em;
        padding: 0 10%;
        color: $background;
        text-decoration: none;
        &:hover {
            color: $background;
        }
    }
}

.links-state2 {
    position: fixed;
    width: 100%;
    top: 0;
    opacity: 0.75;
}

h1 {
	color: $header;
    font-weight: normal;
    font-size: 6em;
    line-height: 0.75em;
    text-align: center;
}
h2 {
	color: $accent2;
    padding: 1em;
    text-align: center;
}
section {
	padding: 0 10%;
    background-color: $background;
    min-height: 100vh;
    overflow: hidden;
	
	h2 {
		color: $text;
	}
}

.bigbuttons {
    float: left;
    width: 50%;
    text-align: center;
    height: 20vh;
    padding-top: 2vh;
    a {
        color: $accent2;
        font-size: 3.5em;
		text-decoration: underline;
		&:hover {
			color: $accent1;
		}
    }
}
#top {
	padding: inherit;
    background-color: $background;
    min-height: 95vh;
    height: 95vh;
}
#portfolio {
    background-color: $header;
}
.portfolio-state2 {
    padding-top: 7vh;
}
#resume {
    background-color: $background;
}

footer {
	background-color: $text;
    text-align: center;
    color: $background;
    background-color: black;
    padding: 0.2em 0;
}